# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
goodcharacter.cpp.autosave
*.stash
debug/moc_dialogwindow.cpp
debug/moc_faitwindow.cpp
debug/moc_mainmenu.cpp
debug/moc_mainwindow.cpp
debug/moc_predefs.h
debug/moc_settings.cpp
debug/moc_stationwindow.cpp
debug/moc_wingame.cpp
debug/qrc_images.cpp
game1.pro.user
game1.pro.user.975adea
Makefile
Makefile.Debug
Makefile.Release
object_script.game1.Debug
object_script.game1.Release
*.autosave
*.autosave
stationwindow.cpp.autosave
stationwindow.cpp.autosave
